# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de Python y Flask
__pycache__/
*.pyc
env/
venv/
.venv/
instance/

# Ignorar archivos de XAMPP (Base de datos local)
mysql/
data/
*.frm
*.ibd
*.log
ibdata1
ib_logfile*

# Ignorar archivos de subida de imágenes (pero mantén la carpeta vacía si es necesario)
static/uploads/
!static/uploads/.gitkeep